$font-stack:  'Roboto', sans-serif;
$main-color: #03A9F4;

body {
    font: 100% $font-stack;
}

.App {
  text-align: center;

}

.modal-header {
  height: 200px;
}
.modal-title {
  color: #ffffff;
  background-color: $main-color;
  

}
